img {
    height: 250px;
}

p {
    text-align: center;
}

.consolasMenu {
    background-color:rebeccapurple;
    color: white;
    text-align: center;
    box-shadow: -1px 5px 10px grey;
}
.texto{
    color:white;
}

.aMenu {
    
}

.aMenu:hover { 
    background-color: #7651aa;
    color: white;
}

.cajaContacto{
    width: 700px;
    height: 525px;
    margin-left: 23%;
    margin-right 25%;
    margin-top:30px;
    margin-bottom: 100px;
}
#enviar{
    margin-top: 20px;
    font-size:medium;
    margin-left:25%;
    margin-right:8%;
}
#cancelar{
    margin-top: 20px;
    font-size:small;
    margin-left:20%;
    margin-right:8%;
}

#cabecera {
    background-color: #808080;
    color: white;
}

#recomendados {
    margin: 25px;
}

.recoControl {
    margin-top: 105px;
    width: 50px;
    height: 50px;
    background-color:rebeccapurple;

}



.g-recaptcha {
    padding-left: 200px;
}

.tablas {
    width: 50%;
    margin: 25px;
    margin-right: 0px;
    float: left;
}

#venta {
    margin-top: 150px;
    margin-left: 15%;
    margin-bottom: 100px;    
}
